<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aidlclient_demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.example.aidlclient_demo.AIDL_ClientService" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.aidlclient_demo.messenger.Messenger_ClientService" >
        </activity>

        <service
            android:name="com.example.aidlclient_demo.AIDL_ServerService"
            android:process=":remote_aidl" >
            <intent-filter>
                <action android:name="android.ipc.demo.aidl" />
            </intent-filter>
        </service>
        <service
            android:name="com.example.aidlclient_demo.messenger.Messenger_ServerService"
            android:process=":remote_messenger" >
            <intent-filter>
                <action android:name="android.ipc.demo.messenger" />
            </intent-filter>
        </service>
    </application>

</manifest>